<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Lumen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.css" media="screen">
    <link href="http://visjs.org/dist/vis.css" rel="stylesheet" type="text/css" />
    <style type="text/css" media="screen">
    table label input[type="checkbox"] {
      vertical-align: top;
      margin-right: 5px;
    }
    </style>
  </head>
  <body>
      <div class="container">
      {% block content %}{% endblock %}
      </div>
  </body>
</html>
